
body{
background:#0C0C0E;
color:white;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#141418;
padding:30px;
border-radius:12px;
width:320px;
}

input{
width:100%;
padding:10px;
margin-top:8px;
margin-bottom:12px;
border:none;
border-radius:6px;
background:#1A1A22;
color:white;
}

button{
width:100%;
padding:10px;
background:#C9F566;
border:none;
border-radius:6px;
font-weight:bold;
}

